/*responsive for mobile device*/
@media screen and (max-width:576px) {
    header{
        background-color: #FFF;
        box-shadow: none;
    }
    nav{
        flex-direction: column;
    }
    .logo {
        width: 120px;
        height: 50px;
        margin-left:250px;
    }
    .section-title{
        position: relative;
        bottom: 47px;
        margin-left: 400px;
        font-size: 45px;   
    }
    nav>ul{
        flex-direction: column;
    }
    nav li{
        margin-left: 450px;
        padding-bottom: 20px;
        text-align: center;
        justify-content: center;
    }
    .social{
        width: 158px;
    }
    .banner{
        background-position: center;
        background-repeat: no-repeat;
        justify-content:center;
        padding-top: 150px;
        flex-direction:column-reverse;
        
    }
    .banner-content{
        margin-top: 608px;
        background-position:center
    }
    .banner-img{

    }
    .video{
        margin-left: 280px
    }
    .video-title{
        width: 650px;
        margin-left: -135px;  
    }
    .video-container{
       display: grid;
       grid-template-columns: repeat(1,1fr);
    }
    .video-content{

    }
}
/*responsive for tablet device*/
@media screen and (min-width:576px) and (max-width:996px) {
    .logo {
        width: 53.041px;
        height: 33px;
        margin-left: 34px;
        position: relative;
        bottom: 5px;
    }
    .section-title{
            position: relative;
            bottom: 5px;
            margin-left: 15px;
            font-size: 37px;
        }
    nav li{
        padding-bottom: 10px
    }
}