*{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
header{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    height: 130px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding-top: 30px;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 40px;
    font-weight: 500;
    font-size: 1rem;
    padding-top: 10px;
}
.social {
    border-radius: 9px;
    background: rgba(11, 2, 35, 0.10);
    height: 33px;
    padding: 5px;  
}
.logo {
    width: 86.041px;
    height: 40px;
    margin-left: 160px;
}
.section-title {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    margin-right:auto
}
.title-span{
    color:#FF42A5 ;
}
.banner {
    background-image: url(./images/Group\ 14.png);
    background-position: left;
    background-repeat: no-repeat;
    display: flex;
    min-height: 60vh;
    justify-content: space-evenly;
}
.banner-img{
        margin-left: 100px;
        width: 50%;
}
.banner-content {
    text-align: center;
    padding: 157px;
}
.banner-title-1{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
}
.banner-title-2{
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.banner-content>ul{
    list-style: none;
}
.banner-content li{
    color: #534C64;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.play{
    position: relative;
    top: 14px;
    margin-left: -70px;
    right: 2px;
    padding-bottom: 7px;

}
.download{
    position: relative;
    top: 6px;
    margin-left: -111px;
    padding-top: 5px;
}
.online{
    position: relative;
    top: 6px;
    margin-left: 48px;
    padding-top: 5px;
}
.btn{
    padding-top: 50px;
}
.btn-pink{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 40px;
    gap: 10px;
    border-radius: 48px;
    background:#FF42A5;
    border: 0;
}
.btn-blue{
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 40px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border: 0;
}
/*responsive for mobile device*/
@media screen and (max-width:576px) {
    header{
        background-color: #FFF;
        box-shadow: none;
    }
    nav{
        flex-direction: column;
    }
    .logo {
        width: 59.041px;
        height: 33px;
        margin-left: -100px;
    }
    .section-title{
        position: relative;
        bottom: 44px;
        margin-left: 204px;
        font-size: 40px;   
    }
    nav>ul{
        flex-direction: column;
    }
    nav li{
        margin: auto;
        padding-bottom: 10px
    }
}
/*responsive for tablet device*/
@media screen and (min-width:576px) and (max-width:996px) {
    .logo {
        width: 53.041px;
        height: 33px;
        margin-left: 34px;
        position: relative;
        bottom: 5px;
    }
    .section-title{
            position: relative;
            bottom: 5px;
            margin-left: 15px;
            font-size: 37px;
        }
    nav li{
        padding-bottom: 10px
    }
}